.donationList {
	width:295px;
}
.donate_btn {
	margin-top: 5px;
	background: url(../assets/disaster_img/donate_btn.png);
	text-align: left;
	padding-right:20px;
	text-shadow: 0 1px 0 #ffef98;
	font-size:.8em;
	float:right;
	border:0;
	webkit-box-shadow:0 0 0;
	-webkit-border-radius: 20px;
}
.donate_btn:active {
	background: url(../assets/disaster_img/donate_btn.png);
	border:0;
}

/*/////////////////////////////////////////////////////
//		     PAYEMENT PROCESS ORGANIZATIONS          //
/////////////////////////////////////////////////////*/
.payementProcess_bg{
	background: url(../assets/payement_ui/payement_bg.jpg);
}
.payementProcessOrgContainer {
	margin: 0 auto;
	margin-top: 50px;
	padding-top: 75px;
	background: url(../assets/payement_ui/choose_org_bg.png);
}
.payementChooseOrg_btn span{
	text-align:left;
}
.payementChooseOrg_btn {
	margin-left: 16px;
	margin-top:7px;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #FFFFFF), color-stop(100%, #d8d8d8));
	
	color:#888888;
	font-size:.8em !important;
	padding-left:10px;
	text-shadow:0 1px 0 #FFFFFF;
	
	border:1px solid #777777;
	-webkit-box-shadow: inset 0 1px 0 #FFFFFF, 0 1px 0 #FFFFFF;
	-webkit-border-radius: 3px;
	float:left;
}
.payementChooseOrg_btn:active {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #15a2fd), color-stop(50%, #0a84e8), color-stop(100%, #016dd9));
	
	color:white;
	text-shadow:0 -1px 0 #005399;
	
	border:1px solid #005399;
	-webkit-box-shadow: inset 0 1px 0 #1ccdff, 0 1px 0 #FFFFFF;
	-webkit-border-radius: 3px;
}
.org_next_btn {
	margin-top: 15px;
	margin-right: 17px;
	background-image: url(../assets/payement_ui/next_btn.png);
	
	padding-left:12px;
	font-size:.8em !important;
	text-shadow: 0 1px 0 #ffef98;
	
	border:none;
	-webkit-border-radius: 3px;
	float:right;
}
.org_next_btn span {
	text-align:left;
}
.org_next_btn:active {
	background-image: url(../assets/payement_ui/next_btn.png);
	border:none;
}

/*/////////////////////////////////////////////////////
//				PAYEMENT PROCESS MONEY               //
/////////////////////////////////////////////////////*/
.payementProcessMoneyContainer {
	margin: 0 auto;
	margin-top: 50px;
	padding-top: 75px;
	background: url(../assets/payement_ui/choose_amount_bg.png);
}
.five_bucks_btn {
	margin-left:27px;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #FFFFFF), color-stop(100%, #d8d8d8));
	
	font-size:.8em !important;
	padding: 0 0;
	color:#888888;
	padding-left:0px;
	text-shadow:0 1px 0 #FFFFFF;
	
	border:1px solid #777777;
	-webkit-box-shadow: inset 0 1px 0 #FFFFFF, 0 1px 0 #FFFFFF;
	-webkit-border-radius: 3px !important;
	float:left;
}
.five_bucks_btn:active{
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #15a2fd), color-stop(50%, #0a84e8), color-stop(100%, #016dd9));
	
	color:white;
	text-shadow:0 -1px 0 #005399;
	
	border:1px solid #005399;
	-webkit-box-shadow: inset 0 1px 0 #1ccdff, 0 1px 0 #FFFFFF;
	-webkit-border-radius: 3px;
}
.ten_bucks_btn {
	margin-left:10px;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #FFFFFF), color-stop(100%, #d8d8d8));
	
	font-size:.8em !important;
	padding: 0 0;
	color:#888888;
	padding-left:0px;
	text-shadow:0 1px 0 #FFFFFF;
	
	border:1px solid #777777;
	-webkit-box-shadow: inset 0 1px 0 #FFFFFF, 0 1px 0 #FFFFFF;
	-webkit-border-radius: 3px !important;
	float:left;
}
.ten_bucks_btn:active{
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #15a2fd), color-stop(50%, #0a84e8), color-stop(100%, #016dd9));
	
	color:white;
	text-shadow:0 -1px 0 #005399;
	
	border:1px solid #005399;
	-webkit-box-shadow: inset 0 1px 0 #1ccdff, 0 1px 0 #FFFFFF;
	-webkit-border-radius: 3px;
}
.other_bucks_fields {
	margin-left: 40px;
	
	font-size:.8em !important;
	font-weight:bold;
	
	border:1px solid #777777;
	-webkit-box-shadow:0 2px 2px -1px rgba(0, 0, 0, 0.2) inset, 0 1px rgba(255, 255, 255, 0.3);
	-webkit-border-radius: 3px !important;
	float:left;
}
.other_bucks_fields_focus{
	border-color: rgba(104, 189, 244, 0.9);
	box-shadow: 0 0 4px 0 rgba(104, 189, 244, 0.9);
}
.donation_add_comment {
	margin-top: 45px;
	margin-left: 27px;
	
	resize:none !important;
	font-size:.7em !important;
	
	border:1px solid #777777;
	-webkit-box-shadow:0 2px 2px -1px rgba(0, 0, 0, 0.2) inset, 0 1px rgba(255, 255, 255, 0.3);
	-webkit-border-radius: 3px !important;
	float:left;
}
.donation_add_comment_focus{
	border-color: rgba(104, 189, 244, 0.9);
	box-shadow: 0 0 4px 0 rgba(104, 189, 244, 0.9);	
}
.terms_of_use {
	margin-top: 5px;
	margin-left: 100px;
	padding: 0 0;
	background:#333333;
	float:left;
}
.x-field .x-input-checkbox:checked::after{
	border-color:#222222;
}

.payement_amount_btn {
	margin-top: 15px;
	margin-right: 17px;
	background-image: url(../assets/payement_ui/next_btn.png);
	
	padding-left:10px;
	font-size:.7em !important;
	text-shadow: 0 1px 0 #ffef98;
	
	border:none;
	-webkit-border-radius: 3px;
	float:right;
}
.payement_amount_btn span {
	text-align:left;
}
.payement_amount_btn:active {
	background-image: url(../assets/payement_ui/next_btn.png);
	border:none;
}


/*/////////////////////////////////////////////////////
//					1st TEMPLATE                     //
/////////////////////////////////////////////////////*/
.donationUsername {
	width:190px;
	font-weight:bold;
	font-size:14px !important;
	margin-left:.8em;
	margin-top:-.2em;
	float:left;
}
.donationPicture {
	position:relative;
	width:37px;
	height:37px;
	background:#DDDDDD;
	margin-top:.1em;
	margin-bottom:.1em;
	float:left;
	-webkit-border-radius:5px;
	z-index:998;
}
.donationAmount {
	width:55px;
	font-size:13px !important;
	text-align:right;
	float:left;
}
.donationLocation {
	color:#999999;
	font-size:12px !important;
	font-weight:normal;
	margin-bottom:.4em;
	margin-top:.2em;
	text-align:left;
}
.donationComment {
	width:210px;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	color:#333333;
	float:left;
}
.donationTime {
	width:100%;
	margin-top:-1.2em;
	font-size:11px !important;
	font-weight:normal;
	text-align:right;
	color:#AAAAAA;
	float:left;
}

/*/////////////////////////////////////////////////////
//					2nd TEMPLATE					 //
/////////////////////////////////////////////////////*/
.x-list .x-list-item {
	background:url(../assets/feed_ui/listview_bg.png) repeat;
	border-top: solid 1px #EEEEEE;
	box-shadow: 0 -1px 0 #888888;
	-webkit-box-shadow:0 -1px 0 #888888;
}
.donationPicture2 {
	width:41px;
	height:41px;
	background:#DDDDDD;
	margin-top:.2em;
	margin-bottom:.3em;
	float:left;
	border: solid 1px #555555;
	border-radius:3px;
	box-shadow: 0 1px 0 #FFFFFF;
	-webkit-box-shadow: 0 1px 0 #FFFFFF;
}
.donationUsername2 {
	width:243px;
	font-weight:normal;
	font-size:13px !important;
	text-shadow:0 1px 0 #FFFFFF;
	margin-left:.8em;
	float:left;
}
.donationAmount2 {
	margin-left:.3em;
	line-height:17px;
	text-align:left;
	float:left;
}
.donationComment2 {
	width:247px;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	color:#333333;
	text-shadow:none;
	margin-top:.2em;
	padding-top:.2em;
	padding-right:1.5em;
	float:left;
}
.donationTime2 {
	font-size:11px !important;
	line-height:17px;
	font-weight:normal;
	text-shadow:none;
	text-align:right;
	color:#999999;
	float:right;
}
.donationLike {
	font-size:11px;
	float:left;
}
.donationArrow{
	width:11px;
	height:15px;
	background:url(../assets/feed_ui/listview_arrow.png) repeat;
	float:right;
}