.donationList {
	width:295px;
}

/*/////////////////////////////////////////////////////
//					1st TEMPLATE					 //
/////////////////////////////////////////////////////*/
.donationUsername {
	width:190px;
	font-weight:bold;
	font-size:14px !important;
	margin-left:.8em;
	margin-top:-.2em;
	float:left;
}
.donationPicture {
	width:37px;
	height:37px;
	background:#DDDDDD;
	margin-top:.1em;
	margin-bottom:.1em;
	float:left;
	-webkit-border-radius:5px;
}
.donationAmount {
	width:55px;
	font-size:13px !important;
	text-align:right;
	float:left;
}
.donationLocation {
	color:#999999;
	font-size:12px !important;
	font-weight:normal;
	margin-bottom:.4em;
	margin-top:.2em;
	text-align:left;
}
.donationComment {
	width:210px;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	color:#333333;
	float:left;
}
.donationTime {
	width:100%;
	margin-top:-1.2em;
	font-size:11px !important;
	font-weight:normal;
	text-align:right;
	color:#AAAAAA;
	float:left;
}

/*/////////////////////////////////////////////////////
//					2nd TEMPLATE					 //
/////////////////////////////////////////////////////*/
.x-list .x-list-item {
	background:url(../assets/ui_img/listview_bg.png) repeat;
	border-top: solid 1px #EEEEEE;
	box-shadow: 0 -1px 0 #888888;
	-webkit-box-shadow:0 -1px 0 #888888;
}
.donationPicture2 {
	width:43px;
	height:43px;
	background:#DDDDDD;
	margin-top:.2em;
	margin-bottom:.3em;
	float:left;
	border: solid 1px #555555;
	border-radius:3px;
	box-shadow: 0 1px 0 #FFFFFF;
	-webkit-box-shadow: 0 1px 0 #FFFFFF;
}
.donationUsername2 {
	width:240px;
	height: auto;
	font-weight:normal;
	font-size:13px !important;
	text-shadow:0 1px 0 #FFFFFF;
	margin-left:.8em;
	float:left;
}
.donationAmount2 {
	margin-left:.3em;
	line-height:17px;
	text-align:left;
	float:left;
}
.donationComment2 {
	width:247px;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	color:#333333;
	text-shadow:none;
	margin-top:.2em;
	padding-top:.2em;
	padding-right:1.5em;
	float:left;
}
.donationTime2 {
	font-size:11px !important;
	line-height:17px;
	font-weight:normal;
	text-shadow:none;
	text-align:right;
	color:#999999;
	float:right;
}
.donationLike {
	font-size:11px;
	float:left;
}
.donationArrow{
	position:relative;
	top: -.8em;
	width:11px;
	height:15px;
	background:url(../assets/ui_img/listview_arrow.png) repeat;
	float:right;
}