/*/////////////////////////////////////////////////////
//					PROFIL NAME                      //
/////////////////////////////////////////////////////*/
.profileName {
	width:100%;
	height:auto;
	font-size:1em;
	text-shadow:0 2px 4px #222222;
	color:white;
	font-weight:bold;
}
.profileCity {
	width:100%;
	height:auto;
	font-size:.6em;
	text-shadow:0 1px 2px #222222;
	color:white;
	font-weight:normal;
}

/*/////////////////////////////////////////////////////
//					PROFIL COUNTERS                  //
/////////////////////////////////////////////////////*/
.profileCountersContainer {
	width:167px;
	height:50px !important;
	background: rgba(0,0,0,0.2);
	margin-left:8px;
	margin-top:31px;
	text-align:center;
	padding:2px;
	float:left;
	-webkit-box-shadow:inset 0 3px 4px #000000, 0 1px 0 #555555;
	-webkit-border-radius:7px;
}
.profileDonationsCounter, .profileFollowingCounter, .profileFollowersCounter {
	width:53px;
	height:46px;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #222222));
	border: 1px solid black;
	color:white;
	text-shadow:0 -1px 0 black;
	float:left;
	-webkit-box-shadow: 0 1px 1px #111111, inset 0 1px 0 #999999;
	-webkit-border-radius:5px;
}
.profileDonationsCounter {
	margin-left:	0px;
	padding-left:	3px !important;
}
.profileFollowingCounter {
	margin-left:	2px;
	padding-left:	6px !important;
}
.profileFollowersCounter {
	margin-left:	2px;
	padding-left:	5px !important;
}
.counter_name {
	width:			100%;
	font-size: 		10px;
	text-align: 	center;
	font-weight: 	normal !important;
}
.profileDonationsCounter:active, .profileFollowingCounter:active, .profileFollowersCounter:active {
  	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #afeaff), color-stop(2%, #31d5fe), color-stop(100%, #016feb));
	-webkit-box-shadow: 0 1px 1px black, inset 0 1px 0 #d3f6ff;
}

/*/////////////////////////////////////////////////////
//					PROFIL LEVEL                     //
/////////////////////////////////////////////////////*/
.profileLevelHeader {
	border-top: 1px solid #0a498b;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(2%, #fff1d2), color-stop(3%, #fed168), color-stop(98%, #d96b06), color-stop(100%, #d76500));
}
.profileLevelHeaderText {
	padding-top: 	2px;
	padding-left: 	17px;
	font-size: 		.8em;
	font-weight:	bold;
	text-shadow: 	0 1px 0 #f1b46e;
}
.profileLevelContainer {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(2%, #fafafa), color-stop(100%, #d4d4d4));
}
.profileLevel_arrow {
	width:11px;
	height:15px !important;
	margin-top:18px;
	margin-right:10px;
	background: url(../assets/profil_ui/level_arrow.png);
	float:right;
}
.profileLevel {
	width:202px;
	height:21px !important;
	margin-top: 15px;
	margin-left: 16px;
	background: url(../assets/profil_ui/level.png);
	float:left;
}

/*/////////////////////////////////////////////////////
//					PROFIL LEVEL                     //
/////////////////////////////////////////////////////*/
.profileLatestHeader {
	border-top: 1px solid #0a498b;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(2%, #68bdf9), color-stop(3%, #16a4ff), color-stop(98%, #006ad7), color-stop(100%, #0a498b));
}
.profileLatestHeaderText {
	padding-top: 	2px;
	padding-left: 	12px;
	font-size: 		.8em;
	font-weight:	bold;
	color: 			white;
	text-shadow: 	0 -1px 0 #003673;
}

/*/////////////////////////////////////////////////////
//					PROFIL FEED                      //
/////////////////////////////////////////////////////*/
.activityPicture {
	position:relative;
	width:41px;
	height:41px;
	background:#DDDDDD;
	margin-top:-30px;
	margin-left:10px;
	float:left;
	border: solid 1px #555555;
	border-radius:3px;
	-webkit-box-shadow:0 0px 0px rgba(0,0,0,0.3);
}
.profile_activitiy_arrow {
	width:11px;
	height:15px;
	margin-top:10px;
	background:url(../assets/feed_ui/listview_arrow.png) repeat;
	float:right;
}

/*/////////////////////////////////////////////////////
//					PROFIL DETAIL                    //
/////////////////////////////////////////////////////*/
.donationDetail_container {
	margin: 0 auto;
	width: 320px;
	height:100%;
	background:url(../assets/feed_ui/listview_bg.png) repeat;
}
.donationDetail {
	width: 300px;
	padding:.5em;
	margin: 10px;
	background: white;
	float:left;
	
	border-radius:5px;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.3);
}
.donationDetailPicture {
	width:41px;
	height:41px;
	background:#DDDDDD;
	float:left;
	border: solid 1px #555555;
	border-radius:3px;
	box-shadow: 0 1px 0 #FFFFFF;
	-webkit-box-shadow: 0 1px 0 #FFFFFF;
}
.donation_detail_right {
	width: 232px;
	float:right;
}
.donator_name_detail {
	width: 232px;
	margin-left: .5em;
	float:left;
}
.donator_donation_detail {
	width: 232px;
	margin-left:.6em;
	font-size:12px;
	float:right;
}
.donator_donation_comment_icon {
	margin-left: .3em;
	margin-top: .5em;
	display:block;
	width: 30px;
	height: 30px;
	background: url(../assets/profil_ui/comment.png) no-repeat;
	float:left;
}
.donator_donation_comment {
	width: 232px;
	margin-top:.5em;
	font-size:14px;
	font-family:georgia;
	float:right;
}
.donation_detail_date {
	margin-top:.3em;
	font-size:11px;
	color: #CCCCCC;
	float:right !important;
}
.donation_action_button_container {
	margin: 0 auto;
	margin-left: 10px;
	margin-right: 10px;
	width: 300px;
	height:30px;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(2%, #FFFFFF), color-stop(3%, #EEEEEE), color-stop(98%, #CCCCCC), color-stop(100%, #AAAAAA));
	
	font-size: 12px;
	text-align: center;
	line-height:30px;
	text-shadow:0 1px 0 #FFFFFF;
	float:left;
	
	border-radius:5px;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.3);
}
.donation_detail_like_btn {
	width:99px;
	height:30px;
	
	border-right: solid 1px #AAAAAA;
	float:left;	
}
.donation_detail_comment_btn {
	width:98px;
	height:30px;
	font-size: 12px;
	border-right: solid 1px #AAAAAA;
	border-left: solid 1px white;
	float:left;
}
.donation_detail_share_btn {
	width:99px;
	height:30px;
	font-size: 12px;
	border-left: solid 1px white;
	float:left;
}